{% extends "base.html" %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block title %}<title>Домашняя библиотека\Список читателей</title>{% endblock %}
</head>
<body>
{% block content %}
<table class="table table-striped">
    {% for reader in readers %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ reader.full_name }}
                <ul class="list-group">
                    {% for book in reader.books.all %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>
